body {
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.calculator {
  border: 1px solid #808080;
  width: 400px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #808080;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.screen {
  border: 1px solid #808080;
  margin: 20px;
  border-radius: 4px;
  text-align: right;
  font-size: 35px;
  padding: 20px;
  height: 41px;
  background-color: white;
  color: #808080;
}

.keypad {
  border: 1px solid #808080;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
}

button {
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  background-color: #808080;
  color: white;
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 200ms ease-in-out;
}

.button-clicked {
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: white;
  color: #808080;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.controls button {
  width: 50%;
  font-size: 18px;
}

.numbers-and-operators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.numbers-and-operators button {
  width: 18%;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px
}

.contact-links a {
  color: white;
  border: 1px solid #808080;
  border-radius: 50%;
  padding: 15px;
  background-color: #808080;
  transition: all 200ms ease-in-out;
}

.contact-links a:hover {
  color: #808080;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p {
  text-align: center;
  color: black;
}