.calculator {
  border: 1px solid black;
  width: 400px;
  border-radius: 10px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(34, 34, 34);
}

.screen {
  border: 1px solid black;
  margin: 20px;
  border-radius: 4px;
  text-align: right;
  font-size: 35px;
  padding: 20px;
  height: 41px;
  background-color: white;
}

.keypad {
  border: 1px solid black;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
}

button {
  height: 50px;
  font-family: inherit;
  font-size: 18px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.controls button {
  width: 50%;
  font-size: 18px;
}

.numbers-and-operators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.numbers-and-operators button {
  width: 18%;
}
